
h1 {
    margin: 0;
    font-family: "TT Lakes Bold";
    font-size: 28px;
    color: #1B1C21;
}
p {
    font-family: "TT Lakes";
    color: black;
}
.nav__menu__text{
    padding: 0 8px 0 0;
}
.text__nav{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav__burgerAndLogo {
    display: flex;
}
.nav__allMenu {
    display: flex;
}
.nav__burger{
    margin: 0 42px 0 16px;
}
.nav__burger::before{
    display: block;
    content: "";
    position: absolute;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    margin: 4px 0 0 60px;
}
.nav__logo {
    margin: 18px 0 18px 0;
}
.nav__call {
    display: block;
    margin: 0 0 0 16px;
}
.nav__message {
    display: block;
    margin: 0 16px 0 16px;
}
.nav__repair{
    display: block;
    margin: 0 16px 0 38px;
}
.nav__profile{
    display: block;
}
.nav__repair:before {
    display: block;
    position: absolute;
    content: "";
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    margin: 4px 0 0 -20px;
}
.nav__status {
    margin: 0 16px 0 0 ;
}
button{
    outline: none;
    border: none;
    background-color: white;
    padding: 0;
    font-size: 16px;
}

main {
    background-color: #F8F8F8;
}
.main__menu__text {
    padding: 24px 0 0 16px;
}
.main__menu__text::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 40px;
    background: #41F6D7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -16px;
}
ul {
    padding: 0;
}
menu {
    padding: 0;
    margin: 24px 0 24px 16px;
}
.main__menu {
    display: flex;
    list-style-type: none;
    overflow-y: hidden;
    margin: 0;
}
.main__menu__col:first-child button{
    border: 2px solid #B8FFEC;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: white;
}
.main__menu__button {
    justify-content: center;
    height: 40px;
    white-space: nowrap;
    color: #7E7E82;
    background-color: #F8F8F8;
    padding: 0 9px 0 16px ;
}
.main__container {
    margin:0 0 0 16px ;
    font-size: 16px;
}
.main__container-text{
    margin:0 16px 16px 0 ;
}
.main__text-on {
    display: none;
}
.main__text-to {
    display: none;
}
.main__button__show__text{
    background-color: #F8F8F8;
    font-family: "TT Lakes";
    color: #1B1C21;
    font-size: 16px;
}
.main__button__show__text img{
    padding: 0 16px 0 0;
    margin: 0 0 0 8px;
}
.main__img{
    margin: 0 0 16px 16px;
}
.main__img img{
    width: 360px;
    height: 260px;
}
.main__text-on {
    display: block;
}

.main__flex {
    display: flex;
}
