.container{
    width: 768px;
    background: #F8F8F8;
}

.text-show-menu {
    font-size: 0;
}

nav {
    display: flex;
    width: 100% ;
    height: 88px;
    background-color: white;
}


.nav__burger {
    padding: 24px 0px 24px 24px;
}
.nav__logo {
    padding: 18px 0px 18px 42px;
}
.nav__logo:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    margin: 10px 0px 0px -120px;
}

.nav__call-visib {
    display: block;
    margin:24px 16px 24px 250px;
}
.nav__mesage-visib{
    display: block;
    margin:24px 16px 24px 0px;
}
.nav__profil-visib {
    display: block;
    margin:24px 0px 24px 0px;
}
.nav__profil-visib::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    margin: 4px 0px 4px 20px;
}


.nav__repair {
    margin: 24px 0px 24px 48px;
}
.nav__status {
    margin: 24px 0px 24px 16px;
}

.header {
    margin-left: 16px;
}
.main {
    margin-left: 16px;
}
.nav__burger {
    width: 40px;
    height: 40px;
}

.header__menu {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}
.header__menu__block.breds {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 2px solid #B8FFEC;
    box-sizing: border-box;
    border-radius: 6px;
    height: 40px;
    white-space: nowrap;
}
.header__menu__block {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    height: 40px;

}

.header__menu__block a {
    font-size: 16px;
    color: #7E7E82;
    padding: 8px 9px 8px 16px;
}

.info__zag::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 40px;
    background: #41F6D7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -16px;
}

.main__text {
    margin-top: 24px;
    width: 312px;
}
.main__text-on {
    display: block;
}
.main__text-to {
    display: none;
}

.main__text-show-text a{
    color: #1B1C21;
    margin-left: 8px;
}
.main__text-text {
    font-size: 14px;
}
.main__text-show-text img {
    margin-left: 8px;
}

.footer__img img {
    width: 360px;
    height: 260px;
    margin: 14px 25px 0px 0px;
    border-radius: 5%;
}
.footer {
    padding-bottom: 24px;
}

.bloks {
    justify-content: space-between;
    display: flex;
}
